<%- include('partials/header'); -%>

<div class="message message_pad">

    <!-- <i class="fa fa-frown-o fa-8x" aria-hidden="true"></i> -->
    <img src="images/close.png" alt="Error">
    <h1>OOPS</h1>
    <p>There is some problem in the submission, Can you please try again</p>

    <div class="formfield">
      <label for="errormessage">Error Message: </label>
      <textarea id="errormessage" rows="3" cols="80" readonly><%= error%></textarea>
    </div>
  </div>

</body>

<%- include('partials/footer'); -%>
